Flask==2.0.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
requests==2.27.1
SQLAlchemy==1.4.31
pytest==7.1.3

# new
Werkzeug==2.0.3
Flask-MySQLdb==1.0.1
mysql-connector==2.2.9
# mysql-connector-python==8.0.31
mysql-connector-python==8.0.28
mysqlclient==2.1.1
