<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/index.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="../static/bootstrap.min.css" rel="stylesheet">
        <!-- JQuery UI -->
        <link href="../static/jquery-ui.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Welcome to LJPS</title>
    </head>
    <body>
        <h1>Hello World</h1>

    
    <p class="center_text">This testing for SPM</p>
    <table id="skill"></table>
        
    <!-- jQuery -->
    <script src="../static/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../static/bootstrap.bundle.min.js"></script>
    <script src="../static/index.js"></script>
    
    </body>

</html>